html {
    font-family: 'Raleway', sans-serif;
}

head {
    margin: 0;
}

body {
    margin: 0;
}

nav {
    position:sticky;
    top: 0;
}

.navBar {
    background-color: #972700;
    overflow: hidden;
    display: flex;
    height: 70px;
    align-items: center;
}

.navBar a {
    color: white;
    text-align: center;
    padding: 0 14px;
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
}

.navBar a:hover {
    transition: color 0.3 ease;
    color: #E5C9BF;
}

.navBar a.active {
    color: red;
}


#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

table {
    width: 70%;
    border-collapse: collapse;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

th, td {
    width: 100px;
    border: solid 1px #eee;
    padding: 10px;
}

th {
    background-color: #972700;
    color: white;
    text-align: left;
}


tr:nth-child(odd){
    background-color: #F2F2F2;
}

tr:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post h2 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;    
}

.post p {
    margin-left: 10px;
    margin-right: 10px;
}

.contactoHotel {
    margin-left: 30px;
}

.hotelPics {
    border-radius: 20px;
    display: inline-block;
    width: 370px;
    margin: 5px;
    margin-left: 50px;
    align-items: center;
    transition: transform .2s;
    box-shadow: none;
}

.hotelPics:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #333339;
}

.accesos h2 {
    color: #972700;    
    text-align: center;
    font-size: 50px;
}

.grid-accesos {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #972700;
    display: inline-flex; /*To make the height work and also allows me to center the icon*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

.icon:hover {
    background-color: #822100;
}

.icons-info1 {
    flex-direction: row;
}

.grid-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-icon h4 {
    color: #972700;
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: -3px;
}

.grid-icon p {
    margin-bottom: 50px;
}

.visite-tenogasta {
    background-color: #972700;
    padding: 2rem;
}

.visite-tenogasta .visite-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visite-tenogasta .visite-text .visite-left {
    width: 70%;
}

.visite-tenogasta h2, .visite-tenogasta p {
    text-align: left;
    font-weight: 400;
}

.visite-tenogasta h2 {
    color: white;
    font-size: 40px;
}

.visite-tenogasta p {
    color: lightgray;
}

.visite-tenogasta .button {
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    padding: 1em 1.5em;
    border-radius: 5rem;
    border: 2px solid white;
    font-weight: 500;
    transition: 0.2s;
}

.visite-tenogasta .button:hover {
    color: #972700;
    background-color: white;
}